# API Keys
ETHERSCAN_API_KEY="your_etherscan_api_key_here"

# RPC URLs
AVALANCHE_MAINNET_RPC_URL="https://api.avax.network/ext/bc/C/rpc"
AVALANCHE_TESTNET_RPC_URL="https://api.avax-test.network/ext/bc/C/rpc"
MONAD_TESTNET_RPC_URL="https://monad-testnet.drpc.org"
MONAD_MAINNET_RPC_URL="https://rpc.monad.xyz"
ANVIL_RPC_URL="http://localhost:8545"

#Verifier url for monad
MONAD_MAINNET_VERIFIER_URL="https://sourcify-api-monad.blockvision.org"
MONAD_TESTNET_VERIFIER_URL="https://sourcify-api-monad.blockvision.org"

#Verifier url for avax
ROUTE_SCAN_TESTNET_VERIFIER_URL="https://api.routescan.io/v2/network/testnet/evm/43113/etherscan"
ROUTE_SCAN_MAINNET_VERIFIER_URL="https://api.routescan.io/v2/network/testnet/evm/43114/etherscan"
